@using UrunTakipSistemiMvc5.Models.Entitiy
@model List<tbl_personeller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Listesi</h2>

<table class="table table-bordered">


    <tr>
        <th>PERSONEL ID</th>
        <th>PERSONEL AD</th>
        <th>PERSONEL SOYAD</th>
        <th>DEPARTMAN</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>


    @foreach (var x in Model)
    {
        <tr>
            <td>@x.per_id</td>
            <td>@x.per_ad</td>
            <td>@x.per_soyad</td>
            <td>@x.per_departman</td>
            <td><a href="/Personel/PersonelSil/@x.per_id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@x.per_id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>