@model UrunTakipSistemiMvc5.Models.Entitiy.tbl_personeller
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{

    <h2>Personel Bilgileri Güncelleme Sayfası</h2>
    <br />
    <label>Personel Id</label>
    @Html.TextBoxFor(x => x.per_id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <label>Personel Adı</label>
    @Html.TextBoxFor(x => x.per_ad, new { @class = "form-control" })
    <br />
    <label>Personel Soyadı</label>
    @Html.TextBoxFor(x => x.per_soyad, new { @class = "form-control" });
    <br />
    <label>Personel Departmanı</label>
    @Html.TextBoxFor(x => x.per_departman, new { @class = "form-control" });
    <br />
    
    <button class="btn btn-warning">Güncelle</button>

}


