@using UrunTakipSistemiMvc5.Models.Entitiy
@model List<tbl_adminler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Listesi</h2>
<br />

<table class="table table-bordered">

    <tr>
        <th>ADMIN ID</th>
        <th>ADMIN KULLANICI ADI</th>
        <th>ADMIN SIFRE</th>
        <th>SIL</th>
        <th>GUNCELLE</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.kullaniciAdi</td>
            <td>@x.sifre</td>
            <td><a href="/Kategori/KategoriSil/@x.id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@x.id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Admin/AdminEkle/" class="btn btn-primary">Yeni Admin Ekle</a>

